$mainFontFamily: 'Roboto',
sans-serif;

$main_Background_Color: #100e17;
$main_text_color:#fff;

$primary_color: #0bceaf;

$offert_box_bg: #202026;

$purple_color:#800080;

$small_device: 600px;
$medium_device: 1000px;